{% extends 'base.html' %}
{% block content %}

    <h1>블로그 홈 페이지 입니다.</h1>
    <div class="container">
{#        {% for article in articles %}#}
{#            {{ article.title }}#}
{#            {{ article.title }}#}
{#            {{ article.title }}#}
{#            {{ article.title }}#}
{#            {{ article.images }}#}
{#        {% endfor %}#}
    </div>
    
    <div class="container">
    {% for blog in blogdata.all %}
    <div class="container">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.body }}</p>
        <p>{{ blog.pub_date }}</p>
        <p>{{ blog.updated }}</p>
        <p>{{ blog.thumbnail }}</p>
        <!-- <p>{{ blog.category }}</p> -->
        {% for comment in blog.comments.all %}
            <p>{{ comment.title }}</p>
            <p>{{ comment.title }}</p>
            <p>{{ comment.body }}</p>
            <p>{{ comment.pub_date }}</p>
            <p>{{ comment.updated }}</p>
        {% endfor %}

    </div>
    {% endfor %}
</div>
{% endblock %}

