{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="blog">
        {% if form.errors %}
            {{ form.error }}
        {% else %}
        
        <!-- 수정할 대상인 post의 존재 여부로 update, new 구분 -->
        {% if post %} 
        <form action="{% url 'blog:update_post' post.id %}" method="POST">
        {% else %}
        <form action="{% url 'blog:new_post' %}" method="POST">
        {% endif %}
            {% csrf_token %}
            {% crispy form %}
            <!-- {{ form.as_table }} -->
        </form> 
        {% endif %}
    </div>
{% endblock %}
